:root {
  --light-color: #fff7f3;
  --main-color: #fad0c4;
  --medium-color: #e6b2ba;
  --text-hover: #232323aa;
  --text-color: #232323;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: var(--text-color);
  background-color: var(--light-color);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

li {
  list-style: none;
}
